<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>润合美CRM系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="../../dist/css/enterprise.css?rev=67897c8c6e3f7715c16081017a819a1d">
  <link rel="stylesheet" href="../../dist/css/scoller.css?rev=a7760641b986fd3e227a912dbe42b601">
</head>
 <body>
   <el-col id="app">
    <section class="top" style="z-index:10;top:0;">
      <h1 class="title">
        <span>企业结构</span>
      </h1>
    </section>
    <section class="col-md-12">
      <el-col id="myDiagramDiv" :style="Height"  style="margin-top: 80px; background-color: #fff;"></el-col>
    </section>
  </div>
<script src="../../dist/js/vue.js"></script>
<script src="../../dist/js/index.js"></script>
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.15/go-debug.js"></script>
<script src="../../dist/js/moment.js"></script>
<script src="../../dist/js/structure.js?rev=6a85c4998ec788668a063f0fae9a18b0"></script>

</body>
</html>